@font-face {
  font-family: "Hot Pizza";
  src: url("../assets/Hot_Pizza/hotpizza.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

.main {
  top: 0;
  width: 100%;
}

.main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(47, 61, 69);
}

.main li {
  float: left;
}

.main li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.main li a:hover {
  background-color: rgb(54, 71, 81);
  color: goldenrod;
}

.active {
  background-color: goldenrod;
}
